<% if @insights[:avg_mood] == nil %>

    <h2>Hello and Welcome</h2>
      <p>You've reached the Insights page. This is normally where we let you in on all the cool little secrets you've been keeping even from yourself, but you have to write an entry before we can make our particular brand of magic happen!</p>
    <%= button_to "Get Journaling!", "/users/#{current_user.id}/entries/new", :method => "get" %>

<% else %>
    <div>
      <h5>You've written <%= @insights[:sample_size] %> entries for a total of <%= @insights[:total_words] %> words</h5>
    </div>
    <h2>Insights</h2></t>
    <h4>Entries: <span id="sample-size"><%= @insights[:sample_size] %></span> entries</h4>

    <h4>Subjects You're Most Concerned About: </h4>
      <ul id="most-common-entities-ul">
        <% @insights[:most_common_entities].shuffle.each do |entity| %>
          <li><%= entity %></li>
        <% end %>
      </ul>
    <h4>Average Mood Score: <span id="avg-mood"><%= @insights[:avg_mood] %></span></h4>
    <h4>Average Word Count: <span id="avg-word-count"><%= @insights[:avg_word_count] %></span></h4>
    <h4>You live in the <span id="tense-mode"><%= @insights[:tense_mode] %></span></h4>

    <%= label_tag :time_of_day, "Entries writtin in the: " %>
    <%= select_tag :time_of_day,  options_for_select([
      ["Select time of day", "none"],
      ["Morning", "morning"],
      ["Afternoon", "afternoon"],
      ["Evening","night"]
    ]) %>

    <input href=<%= "new-insights" %> type="button" value="Filter Entries" id="filter-btn">

<% end %>
