<h2>Your insights: </h2>



<h4>Average Mood Score: <%= @insights[:avg_mood] %></h4>
<h4>Average Word Count: <%= @insights[:avg_word_count] %></h4>
<h4>Your entries suggest you're <%= @insights[:tense_mode] %>-oriented</h4>



<p>Filter by</p>

<%= label_tag :time, "Entries writting in the: " %>
<%= select_tag :time_of_day,  options_for_select([["", "none"], ["Morning", "morning"], [ "Afternoon", "afternoon"], ["Evening","night"]]) %>

<input href=<%= "new-insights" %> type="button" value="Filter Entries" id="filter-btn">

