<h2>Your insights: </h2>



<h4>Average Mood Score: <%= @overall_mood_score %></h4>
<h4>Average Word Count: <%= @avg_word_count %></h4>
<h4>Your entries suggest you're <%= @most_common_tense %>-oriented</h4>



<h5>Filter by</h5>

  <%= label_tag :time, "Entries writting in the: " %>
  <%= select_tag :time_of_day,  options_for_select([["Morning", 1], [ "Afternoon", 2], ["Evening",3]]) %>
