<% if @insights[:most_common_entities].nil? %>
  <div class="span8">
    <h3>You've reached the Insights page...</h3>
      <p>This is normally where we let you in on all the cool little secrets you've been keeping even from yourself, but you have to write an entry before we can make our particular brand of magic happen!</p>
    <%= link_to "Get Journaling!", "/users/#{current_user.id}/entries/new", :class => "square-button green" %>
  </div>
<% else %>

    <div class="green-container">
      <h5>To date, you've written <%= @insights[:sample_size] %> entries for a total of <%= @insights[:total_words] %> words</h5>
    </div>
    <h2 class='title-h2'>Across <span id="num-entries">all</span> entries<span id="filter-language"></span>...</h2></t>
    <p>Your Average Mood Score is: <strong><span id="avg-mood"><%= @insights[:avg_mood] %></span></p></strong><br>
    <p>Words Per Entry: <strong><span id="avg-word-count"><%= @insights[:avg_word_count] %></span></p></strong><br>
    <p>Your writings suggest you're <strong><span id="tense-mode"><%= @insights[:tense_mode].downcase %></span>-oriented</strong> and feel <strong><span id="humanity-sentiment">neutral</span></strong> toward humanity.</p><br>

    <h3>Subjects You Reference Positively: </h3>

    <ul class="most-common-entities-ul" id="positive-entities">
      <% @insights[:positive_entities].each do |entity| %>
      <li><h4><span><%= entity[:subject] %></span></h4>
          <ul>
            <li>References: <%= entity[:count_total] %></li>
          </ul>
      </li>
      <% end %>
    </ul>

    <h3>Subjects You Reference Negatively: </h3>
      <ul class="most-common-entities-ul" id="negative-entities">
        <% @insights[:negative_entities].each do |entity| %>
          <li><h4><span><%= entity[:subject] %></span></h4>
            <ul>
              <li>References: <%= entity[:count_total] %></li>
            </ul>
          </li>
        <% end %>
      </ul>

    <h2 class="title-h2">Filters</h2>

    <%= label_tag :time_of_day, "Entries writtin in the: " %>
    <%= select_tag :time_of_day,  options_for_select([
      ["Select time of day", "none"],
      ["Morning", "morning"],
      ["Afternoon", "afternoon"],
      ["Evening","night"]
    ]) %>

    <input href=<%= "new-insights" %> type="button" value="Filter Entries" id="filter-btn" class="square-button grey">

<% end %>
